cert.pfx
src/Kestrun/bin
src/Kestrun/obj
global.json
/examples/CSharpTest/bin
/examples/CSharpTest/obj
/examples/CSharp/Certificates/bin
/examples/CSharp/Certificates/obj
/examples/CSharp/Certificates/out
cert/devcert.crt
/cert
/examples/CSharpTest/logs
/logs
*.pfx
*.p12
*.pem 
*.csr
*.key
/examples/PowerShell/logs
