# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/
.history/

# Dotnet & NuGet
*.nupkg
*.snupkg
*.nuspec
*.psmdcp
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET temporary files
**/Properties/launchSettings.json

# Paket
.paket/
paket-files/

# Other
*.dbmdl
*.pdb
*.cache
*.log
*.vspscc
_TestResults/
TestResults/
*.testresults

# Entity Framework Migrations
Migrations/*Designer.cs
Migrations/*Snapshot.cs

# Global JetBrains Rider user settings
.idea/

# Mac/Linux/Windows OS junk
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Secret configuration (if any)
appsettings.Development.json
secrets.json

# ReSharper/Code analysis
_ReSharper*/
*.DotSettings.user

# Optional: Dotnet tools
.tools/

/src/PowerShell/Kestrun/lib
# Optional: PowerShell specific
cert.pfx 
global.json 
cert/devcert.crt
/cert
/examples/CSharpTest/logs
/logs
*.pfx
*.p12
*.pem 
*.csr
*.key
*.log
/examples/PowerShell/logs
examples/CSharpTest/test.bin
/examples/Files/LargeFiles
testResults.xml
/publish
*/logs/*
examples/CSharp/MultiRoutes/logs/audit-20250721.json
/Microsoft.CodeAnalysis
